body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 241, 222);
}

header {
    background-color: #277CE0;
    color: floralwhite;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: gray;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: whitesmoke;
    border-color: #277CE0;
}

footer {
    background-color: #277CE0;
    color: white;
    text-align: center;
    padding: 15px;
}